<!DOCTYPE html>
<html ng-app="wmatapp">

<head>

    <meta charset="utf-8">
    <title>WMATAPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/jquery-1.5.1.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/wmatapp.js"></script>

</head>


<body ng-controller="WMATAController" ng-init="getBusRoutes()">

<div class="navbar navbar-fixed-top">  <!-- todo fix this:   ng-init="loadFromLocal()" -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <h2 class="navbar-text">Pick your bus route</h2>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <div>
                    <button class="btn success" type="button" ng-click="getLocation()">Get my current location</button>
                </div>
                <div>
                    <button class="btn" ng-click="logMyDash()">Log Dashboard to Console</button>
                </div>
                <div>
                    <button class="btn" ng-click="saveDashLocally()">Save Dash Locally</button> <!-- todo local storage -->
                </div>
                <div>
                    <button class="btn" ng-click="clearDash()">Clear My Dashboard</button>
                </div>

                <ul class="nav nav-list">
                    <li class="nav-header">My Bus Stops</li>
                    <li ng-repeat="id in myDashboard"><a href="#">{{ id }}</a></li>
                    <li class="nav-header">Route Map</li>
                </ul>

                <div id="mapDiv">
                    {{ googleMap }}
                </div>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span5">
            <div>  <!--class="leaderboard"-->
                <h1>Bus Stops</h1>
                <hr>
            </div>
            <div class="row-fluid" ng-repeat="stop in busStops">
                <div>
                    <h4>{{ stop.Name }}</h4>
                    <h6>Bus routes serving this stop:</h6>

                    <p>{{ stop.Routes }}</p>
                    <a class="btn btn-success btn-mini"
                       href="#" id="authBtn"
                       ng-click="getScheduleByStop(stop.StopID)">
                        See detailed stop schedule</a>
                    <a class="btn btn btn-mini"
                       href="#" id="authBtn"
                       ng-click="drawGoogleMap(stop.Lat, stop.Lon)">
                        View Stop on Map</a>
                </div>
            </div>
            <hr>
            <footer>
                <p>© Coleman McFarland 2013</p>
            </footer>

        </div><!--end center container-->
        <div class="span4">
            <div class="leaderboard">
                <h1>Arrival Times</h1>
                <hr>
                <a class="btn btn-success btn-large"
                   href="#" id="authBtn"
                   ng-click="addToDash(stopIdState)">Add this stop to My Dashboard</a></p>
            </div>
            <div class="row-fluid" ng-repeat="arrival in stopScheduleArrivals">
                <div>
                    <h4>Bus Route: the {{ arrival.RouteID }}</h4>
                    <p>Direction: {{ arrival.DirectionText }}</p>
                    <p>Arrival Time: {{ arrival.Minutes }} minutes from now</p>
                </div>
            </div>
        </div><!-- end rightmost container -->
</body>
</html>
